<% provide(:title, "マッスルキングとは？") %>
<div id="fh5co-about">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1 class="title-about">マッスルキングとは？</h1>
        <h4>　自分が毎日行っている筋トレメニューを、写真・コツ・説明などと一緒に記録できたり、他のユーザーが投稿した筋トレを参考にできるサービスです。</h4>
      </div>
      <div class="col-md-10">
        <h2 class="title-use">主な使い方</h2>
        <div>
          <ol class="main-use">
            <li class="A">自分オリジナル（または参考した）トレーニングを作成し、他のユーザに共有したり自分で使用したりする。</li>
            <li class="B">自分または他のユーザーのトレーニングをマイ筋トレリストに入れ、オリジナルの筋トレメニューを作成し、使用する。</li>
            <li class="C">他にも、「いいねランキング」や「トレーニング記録カレンダー」機能も使用できます。</li>
          </ol>
        </div>
        <p class="about-line"></p>
        <ol class="main-use">
          <li class="A">自分オリジナル（または参考した）トレーニングを作成し、他のユーザに共有したり自分で使用したりする。</li>
        </ol>
        <div class="use-content">
          <p>　　自分がおすすめするトレーニングをどんどん登録して、日頃行うトレーニングの時に使用しましょう。</p>
          <p>　　また、「ここの部位を鍛えたいけど、一番良いやり方ってなんだろう？」と思ったら、</p>
          <p>　　他ユーザーが登録したトレーニングにいいのがないか、検索で調べることもできます。</p>
        </div>
        <ol class="how-to-use">
          <li>新しいトレーニングを写真やメモと共に追加</li>
          <div class="use-explanation">
            <div class="row">
              <div class="col-md-4">
                <p>（1）「新しい筋トレメニューの登録」をクリックします。</p>
                <%= image_tag("/images/useA-1-1.jpg", :alt => "useA-1-1", class: "use-picture") %>
              </div>
              <div class="col-md-4">
                <p>（2）トレーニング情報を入力します。</p>
                <%= image_tag("/images/useA-1-2.png", :alt => "useA-1-2", class: "use-picture") %>
              </div>
              <div class="col-md-4">
                <p>（3）トレーニングの登録が完了しました！</p>
                <%= image_tag("/images/useA-1-3.png", :alt => "useA-1-3", class: "use-picture") %>
              </div>
              <div class="col-md-8">
                <p>トレーニングには下記の情報を登録することができます。</p>
                <p>　・写真</p>
                <p>　・トレーニング名</p>
                <p>　・説明</p>
                <p>　・コツ・ポイント</p>
                <p>　・参照用URL</p>
              </div>
            </div>
          </div>
          <li>作成したトレーニングを「お気に入りに登録」</li>
          <div class="use-explanation">
            <div class="row">
              <div class="col-md-4">
                <p>（1）「お気に入りに登録する」をクリックします。</p>
                <%= image_tag("/images/useA-3-1.png", :alt => "useA-3-1", class: "use-picture") %>
              </div>
              <div class="col-md-4">
                <p>（2）メニューから「お気に入り」をクリックします。</p>
                <%= image_tag("/images/useA-3-2.png", :alt => "useA-3-2", class: "use-picture") %>
              </div>
              <div class="col-md-4">
                <p>（3）お気に入り登録済みのトレーニングを見ることができます。</p>
                <%= image_tag("/images/useA-3-3.png", :alt => "useA-3-3", class: "use-picture") %>
              </div>
            </div>
          </div>
          <li>登録済みのトレーニングを検索</li>
          <div class="use-explanation">
            <div class="row">
              <div class="col-md-4">
                <p>（1）検索バーを見つけます。</p>
                <%= image_tag("/images/useA-5-1.png", :alt => "useA-5-1", class: "use-picture") %>
              </div>
              <div class="col-md-4">
                <p>（2）探したいトレーニングに関連するワード（例えば「スクワット」）を入力します。</p>
                <%= image_tag("/images/useA-5-2.png", :alt => "useA-5-2", class: "use-picture") %>
              </div>
              <div class="col-md-4">
                <p>（3）トレーニング名に「スクワット」を含むトレーニングの一覧が表示されます。</p>
                <%= image_tag("/images/useA-5-3.png", :alt => "useA-5-3", class: "use-picture") %>
              </div>
            </div>
          </div>
        </ol>
        <ol class="main-use">
          <li class="B">自分または他のユーザーのトレーニングを「マイ筋トレリスト」に入れ、オリジナルの筋トレメニューを作成し、使用する。</li>
        </ol>
        <div class="use-content">
          <p>　　全体的に体を鍛えたいなら、「マイ筋トレリスト」に自分や他のユーザーが登録したトレーニングを入れよう。</p>
          <p>　　「マイ筋トレリストに追加する」をクリックすれば、メニューにある「マイ筋トレリスト」に追加されます。</p>
          <p>　　もちろん、自分で登録したトレーニングも「マイ筋トレリスト」に追加することもできます。</p>
          <p>　　また、トレーニングにはコメントやいいねすることができます。</p>
        </div>
        <ol class="how-to-use">
          <li>トレーニングにコメント（又はいいね）</li>
          <div class="use-explanation">
            <div class="row">
              <div class="col-md-4">
                <p>（1）トレーニングの詳細ページへ移り、コメントを入力します。</p>
                <%= image_tag("/images/useB-1-1.png", :alt => "useB-1-1", class: "use-picture") %>
              </div>
              <div class="col-md-4">
                <p>（2）コメントが追加されました！</p>
                <%= image_tag("/images/useB-1-2.png", :alt => "useB-1-2", class: "use-picture") %>
              </div>
              <div class="col-md-4">
                <p>（3）コメント追加（又はいいね、お気に入り）すると、トレーニングを登録した人の通知メニューが赤くなり通知されます。</p>
                <%= image_tag("/images/useB-1-3.png", :alt => "useB-1-3", class: "use-picture") %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <p>（4）トレーニングを登録した人にコメントがあった旨の通知が届いています。</p>
                <%= image_tag("/images/useB-1-4.png", :alt => "useB-1-4", class: "use-picture") %>
              </div>
              <div class="col-md-4">
                <p>（5）トレーニングを登録した人にいいねがあった旨の通知が届いています。　　　</p>
                <%= image_tag("/images/useB-1-5.png", :alt => "useB-1-5", class: "use-picture") %>
              </div>
              <div class="col-md-4">
                <p>（6）トレーニングを登録した人にお気に入りがあった旨の通知が届いています。　　　</p>
                <%= image_tag("/images/useB-1-6.png", :alt => "useB-1-6", class: "use-picture") %>
              </div>
            </div>
          </div>
        </ol>
        <ol class="main-use">
          <li class="C">他にも、「いいねランキング」や「トレーニング記録カレンダー」機能も使用できます。</li>
        </ol>
        <div class="use-content">
          <p>　いいねが多いトレーニングは「いいねランキング」に載ります（5つまで）。</p>
          <p>「トレーニング記録カレンダー」では、トレーニング名、回数、重量を記録することができます。</p>
        </div>
      </div>
    </div>
  </div>
</div>
