<% user = User.find(notification.from_user_id) %>
<% training = Training.find(notification.training_id) %>
<li id="notification-<%= notification.id %>">
  <div>
    <% if notification.variety == 1 %>
      <p><%= notification.created_at.strftime("%Y/%m/%d(%a) %H:%M") %></p>
      <p class="notification-message">あなたの筋トレメニューが<%= link_to user.name, user_path(user) %>さんにお気に入り登録されました。</p>
    <% elsif notification.variety == 2 %>
      <p><%= notification.created_at.strftime("%Y/%m/%d(%a) %H:%M") %></p>
      <p class="notification-message">あなたの筋トレメニューに<%= link_to user.name, user_path(user) %>さんがコメントしました。
      「<%= notification.content %>」</p>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-2">
      <%= link_to((image_tag training.picture.url), training_path(training), class: 'training-picture') %>
    </div>
    <div class="col-md-7">
      <p><%= link_to training.name, training_path(training) %></p>
      <p><%= training.description %></p>
    </div>
  </div>
</li>
